{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% include 'status.html' %}

<style>
    .appl{text-decoration: none;}
    h5 {text-align: center;}
</style>

<hr>
<div class="row" style="text-align:center; width:100%; margin-left:auto; margin-right:auto;">
    <div class="col-md">
        <div class="card card-body">
            <h5>Users</h5>
            <hr>
            <table class="table table-sm">
                <tr>
                    <th>Applicant Name</th>
                    <th>Matric No.</th>
                    <th>Student's Tel. No.</th>
                    <th>Supervisor</th>
                    <th>Programme/Faculty</th>
                </tr>
                {% for applicant in applicant %}
                    <tr>
                        <td><a class="btn btn-sm btn-light" href="{% url 'applicant' applicant.id %}">{{ applicant.applicant_name }}</a></td>
                        <td>{{applicant.matric_no}}</td>
                        <td>{{applicant.student_tel_no}}</td>
                        <td>{{applicant.supervisor}}</td>
                        <td>{{applicant.programme}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <h5>Filter Booking</h5>
            <hr>
            <form method="get">
                {{ myFilter.form|crispy }}
                <br>
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="col-md" style="text-align:center; width:100%; margin-left:auto; margin-right:auto;">
    <h5>Laboratory Forms</h5>
    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>Laboratory (Code)</th>
                <th>Number of Users</th>
                <th>Date Created</th>
                <th>Work Actiity</th>
                <th>Hazard</th>
                <th>Which can cause/effect</th>
                <th>Existing Risk Control (if any)</th>
                <th>Likelihood</th>
                <th>Severity</th>
                <th>Risk</th>
                <th>Recommended Control Measures</th>
                <th>PIC (Due date/status)</th>
                <th>Booking Status</th>

                <th></th>
                <th></th>
            </tr>
            {% for booking in booking %}
            <tr>
                <td>{{booking.laboratory_code}}</td>
                <td>{{booking.number_of_users}}</td>
                <td>{{booking.date_created|date:"d/m/Y"}}</td>
                <td>{{booking.HI_work_activity}}</td>
                <td>{{booking.HI_hazard}}</td>
                <td>{{booking.HI_source}}</td>
                <td>{{booking.RA_existing_risk_control}}</td>
                <td>{{booking.RA_likelihood}}</td>
                <td>{{booking.RA_severity}}</td>
                <td>{{booking.RA_risk}}</td>
                <td>{{booking.RC_countermeasure}}</td>
                <td>{{booking.RC_PIC}}</td>
                <td>{{booking.booking_status}}</td>

                <td><a class="btn btn-sm btn-primary" href="{% url 'approve_booking' booking.id %}">Endorse</a></td>                
                <td><a class="btn btn-sm btn-danger" href="{% url 'reject_booking' booking.id %}">X</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}