{% extends 'index.html' %}

{% load static %}

{% block content %}

<br>
<div class="col-md" style="text-align:center">
    <div class="card card-body">
        <h5>Are you sure you want to reject "{{booking}}"?</h5>
        <br>
        <p>*This action will remove the form from the list. Are you sure?</p>
        <form action="{% url 'reject_booking' booking.id %}" method="POST">
            {% csrf_token %}
            <hr>
            <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
            <input class="btn btn-outline-secondary" type="submit" name="Confirm">
        </form>
    </div>
</div>

{% endblock %}