<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-forms">
                <div class="card-header">
                    <h5 class="card-title">Total Forms</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_booking}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="submitted-forms">
                <div class="card-header">
                    <h5 class="card-title">Approved</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{approved}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="pending-forms">
                <div class="card-header">
                    <h5 class="card-title">Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>