{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% include 'status.html' %}

<style>
    .appl{text-decoration: none;}
    h5 {text-align: center;}
</style>

<hr>
<div class="col-md">
    <div class="card card-body">
        <h5>Applicant</h5>
        <hr>
        <table class="table table-sm">
            <tr>
                <th>Applicant Name</th>
                <th>Matric No.</th>
                <th>Student's Tel. No.</th>
                <th>Supervisor</th>
                <th>Programme/Faculty</th>
            </tr>
            <tr>
                <td>{{applicant.applicant_name}}</td>
                <td>{{applicant.matric_no}}</td>
                <td>{{applicant.student_tel_no}}</td>
                <td>{{applicant.supervisor}}</td>
                <td>{{applicant.programme}}</td>
            </tr>
        </table>
    </div>
</div>
<hr>
<div class="row" style="text-align:center; width:100%; margin-left:auto; margin-right:auto;">
    {% if request.user.is_authenticated %}
        <div class="col-md">
            <div class="card card-body">
                <h5>Action</h5>
                <hr>
                <br><br>
                <a class="btn btn-outline-warning btn-sm btn-block" href="{% url 'applicant_account' %}">Edit User Information</a>
                <br><br>
                <a class="btn btn-primary btn-sm btn-block" href="{% url 'booking' applicant.id %}">Create New Form</a>
                <br>
            </div>
        </div>
    {% endif %}
    <div class="col-md" style="text-align:center">
        <div class="card card-body">
            <h5>Filter Booking</h5>
            <hr>
            <form method="get">
                {{ myFilter.form|crispy }}
                <br>
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="col-md" style="text-align:center; width:100%; margin-left:auto; margin-right:auto;">
    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>Laboratory (Code)</th>
                <th>Number of Users</th>
                <th>Date Created</th>
                <th>Work Actiity</th>
                <th>Hazard</th>
                <th>Which can cause/effect</th>
                <th>Existing Risk Control (if any)</th>
                <th>Likelihood</th>
                <th>Severity</th>
                <th>Risk</th>
                <th>Recommended Control Measures</th>
                <th>PIC (Due date/status)</th>
                <th>Booking Status</th>
                <th>Remarks</th>

                <th></th>
            </tr>
            {% for booking in booking %}
            <tr>
                <td><a class="btn btn-sm btn-info" href="{% url 'edit_booking' booking.id %}">{{booking.laboratory_code}}</a></td>
                <td>{{booking.number_of_users}}</td>
                <td>{{booking.date_created|date:"d/m/Y"}}</td>
                <td>{{booking.HI_work_activity|title}}</td>
                <td>{{booking.HI_hazard|title}}</td>
                <td>{{booking.HI_source|title}}</td>
                <td>{{booking.RA_existing_risk_control|title}}</td>
                <td>{{booking.RA_likelihood}}</td>
                <td>{{booking.RA_severity}}</td>
                <td>{{booking.RA_risk}}</td>
                <td>{{booking.RC_countermeasure}}</td>
                <td>{{booking.RC_PIC|title}}</td>
                <td>{{booking.booking_status}}</td>
                <td>{{booking.remarks}}</td>

                <td><a class="btn btn-sm btn-danger" href="{% url 'delete_booking' booking.id %}">X</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}